<h1>Profile page!</h1>

<p> Welcome to your profile page. Here you can manage your past commands and create new ones! <a href="/profile/command" class="btn-floating btn-large right waves-effect waves-light red"><i class="material-icons">add</i></a>
</p>

<% commands.forEach(function (c) { %>
    <div class="command-row">
    <% c.content.trim().split(' ').forEach(function (cx) { %>
        <img src="/img/arrow-<%=cx%>.png" class="queue-image">
    <% }); %>
        <div class="right">
            <input hidden type="text" name="content" placeholder="command" id="command-string">
            <button  data-id="<%=c.id%>" class="delete-btn waves-effect waves-light orange btn-large">Delete</button>
            <button data-id="<%=c.id%>" data-content="<%=c.content.trim()%>" class="send waves-effect waves-light btn-large">Resend</button>
        </div>
    </div>
<% }); %>
