<h1> I am home.ejs</h1>

<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 8df4b9d5d5035949698e9fc8094fdb7a9159d54c
<form method="POST" action="/commands">

<input type="text" name="content" placeholder="command">
<input type="submit">
</form>
<<<<<<< HEAD
>>>>>>> 041fdbfb1b0c014992a9e1303928acade5a81cb3
=======
>>>>>>> 8df4b9d5d5035949698e9fc8094fdb7a9159d54c
