.arrow {
    display: inline-block;
    height: 150px;
    width: 150px;
    text-align:center;
}
img {
    max-width: auto;
    max-height: 100%;
}
#arrow-div {
    position: absolute;
    min-width: 500px;
    min-height: 700px;
}
#arrow-up {
    position: absolute;
    top: 10px;
    left: 40%;
}
#arrow-down {
    position: absolute;
    top: 300px;
    left: 40%;
}
#arrow-left {
    position: absolute;
    top: 150px;
    left: 120px;
}
#arrow-right {
    position: absolute;
    top: 150px;
    right:120px;
}
.queue-image {
    max-height: 50px;
    max-width: auto;

}
